{% include "eve/header.html" %}
    <title>Parser Stats</title>
</head>

<body>

{% include "eve/menu.html" %}

    <div class="row">
        <div class="col"><b>Name</b></div>
        <div class="col"><b>Region_id</b></div>
        <div class="col"><b>Region_id_log</b></div>
        <div class="col"><b>Parser Time</b></div>
    </div>
{% for stats in statistics %}
    <div class="row">
        <div class="col">{{ stats.1 }}</div>
        <div class="col">{{ stats.2 }}</div>
        <div class="col">{{ stats.3 }}</div>
        <div class="col">{{ stats.4 }}</div>
    </div>
{% endfor %}
</body>

</html>