{% include "eve/header.html" %}
<title>Parser Stats</title>
</head>

<body>

{% include "eve/menu.html" %}

<table class="table">
    <thead>
    <tr class="tr-header">
        <th scope="col" class="hovertips">Name
        </th>
        <th scope="col" class="hovertips">Region_id
        </th>
        <th scope="col" class="hovertips">Region_id_log
        </th>
        <th scope="col" class="hovertips">Parser Time
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for stats in statistics %}
            <td>{{ stats.1 }}</td>
            <td>{{ stats.2 }}</td>
            <td>{{ stats.3 }}</td>
            <td>{{ stats.4 }}</td>
        {% endfor %}
    </tr>
    </tbody>
</table>

</body>

</html>