[Unit]
Description=django-app
After=mysql.service network.target

[Service]
WorkingDirectory=/root/eve_parser/
ExecStart=python3 manage.py runserver 127.0.0.1:8000
Restart=always

[Install]
WantedBy=multi-user.target
