[Unit]
Description=django-app

[Service]
WorkingDirectory=/root/eve_parser/
ExecStart=python3 manage.py runserver 188.34.204.103:8000
Restart=always

[Install]
WantedBy=multi-user.target
