[Unit]
Description=Market order parser. All regions.

[Service]
WorkingDirectory=/root/eve_parser/
ExecStart=python3 manage.py runscript parser_market
OnCalendar=*-*-* 0:00:00

[Install]
WantedBy=multi-user.target



