{% include "eve/header.html" %}
    <title>Liquidity</title>
</head>

<body>

{% include "eve/menu.html" %}

<h2> Liquidity on
<form method="get" action="/logistics/liquidity/" id="region_form">
  <select class="form-select" name="region" style="width: 200px;" id="region" onchange="javascript:this.form.submit()">
  {% for reg in regions %}
    <option {% if region_selected == reg.0 %}selected{% endif %}
        {% if reg.0 == "The Forge" or reg.0 == "Karan" or reg.0 == "Domain" or reg.0 == "Sinq Laison" or reg.0 == "Heimatar" or reg.0 == "Metropolis" %}
            style="font-weight: bold;"{% endif %}>
        {{ reg.0 }}
    </option>
  {% endfor %}
  </select>
</form> </h2>
<h7>Last parse time: {{ parse_time }}</h7>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Type_id</th>
      <th scope="col">Name</th>
      <th scope="col">Day turnover, millions</th>
      <th scope="col">Day volume</th>
      <th scope="col">Median price</th>
    </tr>
  </thead>
  <tbody>
{% for liq in liquidity %}
    <tr>
      <td>{{ liq.type_id }}</td>
      <th scope="row">{{ liq.name }}</th>
      <td><script>document.write(({{ liq.day_turnover }}).toLocaleString())</script></td>
      <td><script>document.write(({{ liq.day_volume }}).toLocaleString())</script></td>
      <td><script>document.write(({{ liq.price }}).toLocaleString())</script></td>
    </tr>
{% endfor %}
  </tbody>
</table>

</body>
</html>
