<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Liquidity</title>
</head>

<body>
<h2> Liquidity on
<form method="get" action="/logistics/liquidity/" id="region_form">
  <select class="form-select" name="region" style="width: 200px;" id="region" onchange="javascript:this.form.submit()">
  {% for reg in regions %}
    <option {% if region_selected == reg.0 %}selected{% endif %} style="font-weight: bold;">
        {%if reg.0 == "The Forge" %}<b>{% endif %}
        {{ reg.0 }}
        {%if reg.0 == "The Forge" %}</b>{% endif %}
    </option>
  {% endfor %}
  </select>
</form> </h2>
<h7>Last parse time: {{ parse_time }}</h7>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Type_id</th>
      <th scope="col">Name</th>
      <th scope="col">Day turnover, millions</th>
      <th scope="col">Day volume</th>
      <th scope="col">Median price</th>
    </tr>
  </thead>
  <tbody>
{% for liq in liquidity %}
    <tr>
      <td>{{ liq.type_id }}</td>
      <th scope="row">{{ liq.name }}</th>
      <td>{{ liq.day_turnover }}</td>
      <td>{{ liq.day_volume }}</td>
      <td>{{ liq.price }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

</body>
</html>