<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Logistics planing</title>
</head>

<body>
<h2> From, To </h2>
<form method="get" action="/logistics/planing/" id="region_form" style="display:inline-block; position: relative;">
  <select class="form-select" name="region_from" style="width: 200px;" id="region_from" onchange="javascript:this.form.submit()">
  {% for reg in regions %}
    <option {% if region_from_selected == reg.0 %}selected{% endif %}
     {% if reg.0 == "The Forge" or reg.0 == "Karan" or reg.0 == "Domain" or reg.0 == "Sinq Laison" or reg.0 == "Heimatar" or reg.0 == "Metropolis" %}
       style="font-weight: bold;"{% endif %}>
     {{ reg.0 }}</option>
  {% endfor %}
  </select>
  <select class="form-select" name="region_to" style="width: 200px; float: left" id="region_to" onchange="javascript:this.form.submit()">
  {% for reg in regions %}
    <option {% if region_to_selected == reg.0 %}selected{% endif %}
     {% if reg.0 == "The Forge" or reg.0 == "Karan" or reg.0 == "Domain" or reg.0 == "Sinq Laison" or reg.0 == "Heimatar" or reg.0 == "Metropolis" %}
       style="font-weight: bold;"{% endif %}>
     {{ reg.0 }}</option>
  {% endfor %}
  </select>
</form>
<h7>Last parse time: {{ parse_time }}</h7>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Type_id</th>
      <th scope="col">Pac Volume</th>
      <th scope="col">Name</th>
      <th scope="col">Profit</th>
      <th scope="col">Price From</th>
      <th scope="col">Price To</th>
      <th scope="col">Diff</th>
      <th scope="col">Day Vol To</th>
      <th scope="col">Liq To</th>
    </tr>
  </thead>
  <tbody>
{% for log in logistics %}
    <tr>
      <td>{{ log.type_id }}</td>
      <td>{{ log.packaged_volume }}</td>
      <th scope="row">{{ log.name }}</th>
      <td>{{ log.profit_from }}</td>
      <td>{{ log.price_from }}</td>
      <td>{{ log.price_to }}</td>
      <td>{{ log.price_diff }}</td>
      <td>{{ log.day_volume_to }}</td>
      <td>{{ log.liquidity_to }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

</body>
</html>