{% include "eve/header.html" %}
<title>Logistic assistant in EVE</title>
<meta name="Description" CONTENT="The difference in the cost and turnover of items in the regions">
</head>

<body>

{% include "eve/menu.html" %}
<div class="description">The project is written on python django. I am parsing the EVE market through the API and
    calculating more profitable items.
</div>
<form class="selects" method="get" action="/logistics/planing/" id="region_form">
    <div class="form-item">
        <span>From</span>
        <select class="form-select" name="region_from" id="region_from" onchange="javascript:this.form.submit()">
            {% for reg in regions %}
                <option {% if region_from_selected == reg.0 %}selected{% endif %}
                        {% if reg.0 == "The Forge" or reg.0 == "Karan" or reg.0 == "Domain" or reg.0 == "Sinq Laison" or reg.0 == "Heimatar" or reg.0 == "Metropolis" %}
                        style="font-weight: bold;"{% endif %}>
                    {{ reg.0 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-item">
        <span>To</span>
        <select class="form-select" name="region_to" id="region_to" onchange="javascript:this.form.submit()">
            {% for reg in regions %}
                <option {% if region_to_selected == reg.0 %}selected{% endif %}
                        {% if reg.0 == "The Forge" or reg.0 == "Karan" or reg.0 == "Domain" or reg.0 == "Sinq Laison" or reg.0 == "Heimatar" or reg.0 == "Metropolis" %}
                        style="font-weight: bold;"{% endif %}>
                    {{ reg.0 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-item">
        <span>Last parse time</span>
        <p>{{ parse_time }}</p>
    </div>
</form>


<div class="table-wrapper">
    <table class="table">
        <thead>
        <tr class="tr-header">
            <th scope="col" class="hovertips">Type_id
                <span class="hovertipstext">An Eve item type ID</span>
            </th>
            <th scope="col" class="hovertips">Pac Volume
                <span class="hovertipstext">Packaged volume</span>
            </th>
            <th scope="col" class="hovertips">Name
            </th>
            <th scope="col" class="hovertips">Profit
                <span class="hovertipstext">Average profit over day (Inaccurate metric)</span>
            </th>
            <th scope="col" class="hovertips">Price From
                <span class="hovertipstext">Price in {{ region_from_selected }} </span>
            </th>
            <th scope="col" class="hovertips">Price To
                <span class="hovertipstext">Price in {{ region_to_selected }} </span>
            </th>
            <th scope="col" class="hovertips">Diff
                <span class="hovertipstext">Price difference between {{ region_to_selected }} and {{ region_from_selected }}  </span>
            </th>
            <th scope="col" class="hovertips">Day Vol To
                <span class="hovertipstext hovertips-left">Average day volume by item per month in {{ region_to_selected }}</span>
            </th>
            <th scope="col" class="hovertips">Liq To
                <span class="hovertipstext hovertips-left">Average day volume * avarage day price in {{ region_to_selected }}</span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for log in logistics %}
        <tr>
            <td>{{ log.type_id }}</td>
            <td>{{ log.packaged_volume }}</td>
            <th scope="row"><a target="_blank"
                               href="https://evemarketer.com/types/{{ log.type_id }}">{{ log.name }}</a>
            </th>
            <td>{{ log.profit_from }}</td>
            <td>
                <script>document.write(({{ log.price_from }}).toLocaleString())</script>
            </td>
            <td>
                <script>document.write(({{ log.price_to }}).toLocaleString())</script>
            </td>
            <td>
                <script>document.write(({{ log.price_diff }}).toLocaleString())</script>
            </td>
            <td>{{ log.day_volume_to }}</td>
            <td>{{ log.liquidity_to }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>